<div>
    <button mat-raised-button color="primary" (click)="onClickOpenForm()" 
   value="Register">Add Node</button>
</div>
<br>
<div>
    <button mat-raised-button color="primary" (click)="onClickgetTerms()">Get All terms</button>
</div>

<div>
    <button [hidden]="!openform" (click)="onClickOpenConceptForm()"
   value="Concept">Concept Node Create</button>
</div>

<div>
    <button [hidden]="!openform" (click)="onClickOpenIntentForm()"
   value="Concept">Intent Node Create</button>
</div>
<form [hidden]="!openConcept" #form="ngForm" (ngSubmit)="createNode(form.value)">
    <div>
        <mat-form-field>
      <label>node name:</label>
      <input matInput type="text" name="name" ngModel>
    </mat-form-field>
    </div>
    <button class="btn btn-default" type="button" (click)="showProprties()">Add properties</button>

  <tr [hidden]="!openProperty">
      <td>
          <input class="form-control" type="text" id="newAttributeProperty" [(ngModel)]="newAttribute.property" name="newAttributeProperty" />
      </td>
      <td>
          <input class="form-control" type="text" id="newAttributeValue" [(ngModel)]="newAttribute.value" name="newAttributeValue" />
      </td>
      <td>
          <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
        </td>
  </tr>
  <tr *ngFor="let field of fieldArray; let i = index">
    <td>
        {{field.property}}<input [(ngModel)]="field.value" class="form-control" type="text" name="{{field.property}}" />
    </td>
    <!-- <td>
        <input [(ngModel)]="field.value" class="form-control" type="text" name="{{field.value}}" />
    </td> -->
    <td>
        <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
    </td>
</tr>
  <button [hidden]="!openProperty" type="submit">Submit</button>
</form>




<form [hidden]="!openIntent" #form1="ngForm" (ngSubmit)="createIntent(form1.value)">
    <div>
      <label>node name:</label>
      <input type="text" name="name" ngModel>
    </div>
    <button class="btn btn-default" type="button" (click)="showProprties()">Add properties</button>

  <tr [hidden]="!openProperty">
      <td>
          <input class="form-control" type="text" id="newAttributeProperty" [(ngModel)]="newAttribute.property" name="newAttributeProperty" />
      </td>
      <td>
          <input class="form-control" type="text" id="newAttributeValue" [(ngModel)]="newAttribute.value" name="newAttributeValue" />
      </td>
      <td>
          <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
        </td>
  </tr>

  <tr *ngFor="let field of fieldArray; let i = index">
    <td>
        {{field.property}}<input [(ngModel)]="field.value" class="form-control" type="text" name="{{field.property}}" />
    </td>
    <td>
        <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
    </td>
</tr>

  <button [hidden]="!openProperty" type="submit">Submit</button>
</form>

<div [hidden]="!getTerms">
    <br>
        <button mat-raised-button (click)="onClickShowKnowledge()">Get knowledge terms</button>
        <button mat-raised-button (click)="onClickShowSynthesis()">Get Synthesis terms</button>
        <button mat-raised-button (click)="onClickShowComprehension()">Get Comphrension terms</button>
        <button mat-raised-button (click)="onClickShowEvaluation()">Get Evaluation terms</button>
        <button mat-raised-button (click)="onClickShowAnaylsis()">Get Analysis terms</button>
        <button mat-raised-button (click)="onClickShowApplication()">Get Application terms</button>
</div>

                <mat-list>
                  <tr *ngFor="let terms of intents | async">
                        <td>{{terms}}</td>
                <td> <button mat-flat-button color="primary" (click)="openDialog(terms,bloomstack)">Add Synonym</button></td>
                  </tr>
                </mat-list>


