<div>
    <button (click)="onClickOpenForm()" 
   value="Register">Add Node</button>
</div>

<div>
    <button [hidden]="!openform" (click)="onClickOpenConceptForm()"
   value="Concept">Concept Node Create</button>
</div>

<div>
    <button [hidden]="!openform" (click)="onClickOpenIntentForm"
   value="Concept">Intent Node Create</button>
</div>
<form [hidden]="!openConcept" #form="ngForm" (ngSubmit)="createNode(form.value)">
    <div>
      <label>node name:</label>
      <input type="text" name="name" ngModel>
    </div>
    <button type="submit" (click)="showProprties()">Submit and add properties</button>
  <tr *ngFor="let field of fieldArray; let i = index">
      <td>
          {{field.property}}<input [(ngModel)]="field.value" class="form-control" type="text" name="{{field.property}}" />
      </td>
      <!-- <td>
          <input [(ngModel)]="field.value" class="form-control" type="text" name="{{field.value}}" />
      </td> -->
      <td>
          <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
      </td>
  </tr>
  <tr [hidden]="!openProperty">
      <td>
          <input class="form-control" type="text" id="newAttributeProperty" [(ngModel)]="newAttribute.property" name="newAttributeProperty" />
      </td>
      <td>
          <input class="form-control" type="text" id="newAttributeValue" [(ngModel)]="newAttribute.value" name="newAttributeValue" />
      </td>
      <td>
          <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
      </td>
  </tr>
  <button [hidden]="!openProperty" (click)="addLastProperty()" type="submit">Submit</button>
</form>